<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display" >
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/uso.css">
  <title>Cardify</title>
</head>

<body>
  <div id="main" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 photo-bg"></div>
      <div class="col-lg-8 card">
        <h1>Cardify</h1>
        <div class="d-none d-lg-block">
          <p>Cardify Es un plugin de jQuery que dado un contenedor busca las imagenes, envuelve en figure y agrega figcaption dentro de este el alt de la imagen al pasar el mouse muestra el figcaption con el alt centrado y oculta la imagen</p>
        </div>
        <h3>Uso</h3>
        <p>Primer paso: descargar cardify</p>
        <a class="btn btn-warning botonesUp" href="assets/download/cardify.js.zip" download role="button">Descarga cardify</a>
        <p>Segundo paso: incluir <code>script</code> en el html</p>
        <pre class="prettyprint text-center"><code>jquery.cardify.css</code></pre>
        <pre class="prettyprint text-center"><code>jquery.cardify.js</code></pre>
        <script src="src/index.js"></script>
        <script src="app.js"></script>
        <p>Incluir <code>script</code> que vincule JS:</p>
        <pre class="prettyprint"><code>&lt;script src="js/jquery.cardify.js"&gt;&lt;/script&gt;</code></pre>
        <ul class="social mt-1">
          <li><a href="https://twitter.com/MamunSrizon"><i class="fa fa-twitter " aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/srizon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/srizon"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
    
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script defer src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html>