* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
  background-color: white;
  font-family: 'Dosis', sans-serif;
}
.separation {
  margin-top: 100px;
}
.navbar {
  height: 8rem;
  background-color: #2e505c;
  border: none;
}
.logo {
  color: white;
}
.figure {
  background:#fcd800;
  color: #2e2b23;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: upppercase;
}

.figcaption {
  position:absolute;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}
.ancor{
  position: absolute;
  left:2rem;
  top:1rem; 
  color:#bd081c;
  font-size: 2.5rem;
 }

.heart{
 position:absolute; 
 top:1rem;
 right:1.5rem; 
 color:#bd081c;
 cursor: pointer;
 overflow: hidden;
 visibility: hidden;
}
.heart-show {
  visibility: visible
}
.fa-heart{
 color:#fcd800;
}

.presentation {
  background-color: #a4dbe4;
  height: 80vh;
  padding: 5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
.title {
  color: #3d5f6b;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
hr {
  border: .7px solid white;
}
p {
  font-size: 1.8rem;
  color: #3d5f6b;
}
.button-white {
  padding: 1.5rem 3rem;
  border: 1px solid white;
  margin-top: 3rem;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.button-white:hover {
  background-color: #3d5f6b;
  border: none;
  color: white;
}
.subsection {
  background-color: #90c6ce;
  height: 95vh;
  padding: 5rem;
}
.padding-col {
  padding-right: 7.5px;
}
.icon-home {
  font-size: 5rem;
  color: white;
  border: 1px solid white;
  padding: 3rem;
  border-radius: 50%;
}
.icon-home:hover {
  color: #3d5f6b;
  border: 1px solid #3d5f6b;
}
.info{
  font-size: 4rem;
  font-weight: 400;
  border: 1px solid white;
  display: block;
  padding: 1rem 4rem;
  margin-top: 9rem;
  color: white;
  margin-bottom: 7rem;
}
.items {
  display: block;
  margin: 2rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 7px;
}
.items:hover {
  color: #3d5f6b;
  text-decoration: none;
}
.footer-txt {
  color: #a4dbe4;
}
.footer {
  height: 30%;
  width: 100%;
  background-color: #354e57;
  padding: 2rem;
}
